@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', Arial, sans-serif;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page__container {
  margin-top: 2vh;
  border-radius: 20px;
  max-width: 1080px;
  border: 1px lightgray solid;
  overflow: hidden;
  box-shadow: 2px 2px 20px rgba(128, 128, 128, 0.75);
}

.banner {
  position: relative;
  height: 20vh;
  overflow: hidden;
}

.banner__image {
  position: absolute;
  max-width: 100%;
  transform: translateY(-25vh);
  object-fit: cover;
  z-index: -1;
}
.banner__titles-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  left: 0;
  top: 0;
  align-items: flex-end;
  padding: 5%;
}

.banner__title {
  color: black;

  font-size: 1.4rem;
}

.banner__title--large {
  background-color: white;
  font-size: 2.4rem;
  font-weight: 800;
}

.banner__title--small {
  background-color: lightgreen;
  font-size: 1.2rem;
}

.button {
  box-shadow: 0px 10px 14px -7px #276873;
  background: linear-gradient(to bottom, #9ba4ee 5%, #7665e2 100%);
  background-color: #5c6bdc;
  border: none;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
}

.button:hover {
  background: linear-gradient(to bottom, #5c9fdd 5%, #4978dd 100%);
  background-color: #404a99;
}

.button:active {
  transform: translateY(1px);
}

.button--large {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 16px;
  margin: 1rem;
  width: 120px;
  height: 40px;
}

.menu {
  height: 5vh;
  display: flex;
  justify-content: space-between;
  /* background-color: #50818a; */
}

.logo {
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__image {
  width: 40px;
  height: 30px;
}

.menu__list {
  display: flex;
  list-style: none;
  height: 100%;
}

.menu__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
}

.menu__item--is-open {
  text-decoration: underline;
}

.menu__link {
  text-transform: none;
  color: black;
  text-decoration: none;
}

.articles {
  display: flex;
  flex-wrap: wrap;
}

.search {
  display: flex;
  justify-content: end;
  margin: 20px 0;
  width: 100%;
  height: 32px;
}

.search__input {
  width: 200px;
  margin-right: 20px;
}

.search__button {
  font-size: 12px;
  padding: 5px 20px;
}

/* <body class="page">

    <section class="articles page__articles">
      <form class="search">
        <input type="text" class="search__input" />
        <button class="button search__button button--italic" type="submit">Search</button>
      </form>

      <article class="article">
        <h1 class="article__title">Tytuł artykłu #1</h1>
        <div class="article__info">
          <span class="article__publication-date">2021.06.11</span>
          <span class="article__publication-author">JKOSZAJA</span>
        </div>
        <p class="article__text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem nemo temporibus voluptas.
          Ea est hic voluptas blanditiis pariatur, dignissimos aspernatur!
        </p>
        <h2 class="article__subtitle">subtitle</h2>
        <p class="article__text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem nemo temporibus voluptas.
          Ea est hic voluptas blanditiis pariatur, dignissimos aspernatur!
        </p>
        <button class="button article__button">Read more...</button>
      </article>

      <article class="article">
        <h1 class="article__title">Tytuł artykłu #2</h1>
        <div class="article__info">
          <span class="article__publication-date">2021.06.11</span>
          <span class="article__publication-author">JKOSZAJA</span>
        </div>
        <p class="article__text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem nemo temporibus voluptas.
          Ea est hic voluptas blanditiis pariatur, dignissimos aspernatur!
        </p>
        <h2 class="article__subtitle">subtitle</h2>
        <p class="article__text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem nemo temporibus voluptas.
          Ea est hic voluptas blanditiis pariatur, dignissimos aspernatur!
        </p>
        <button class="button article__button">Read more...</button>
      </article>

      <article class="article">
        <h1 class="article__title">Tytuł artykłu #3</h1>
        <div class="article__info">
          <span class="article__publication-date">2021.06.11</span>
          <span class="article__publication-author">JKOSZAJA</span>
        </div>
        <p class="article__text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem nemo temporibus voluptas.
          Ea est hic voluptas blanditiis pariatur, dignissimos aspernatur!
        </p>
        <h2 class="article__subtitle">subtitle</h2>
        <p class="article__text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem nemo temporibus voluptas.
          Ea est hic voluptas blanditiis pariatur, dignissimos aspernatur!
        </p>
        <button class="button article__button">Read more...</button>
      </article>
    </section>

    <footer class="footer page__footer">
      <p class="footer__copyright-info">R</p>
      <address class="footer__address-info">Adress</address>
    </footer>
  </body> */ ;
